WIKI_DB_NAME=mediawiki
WIKI_DB_USER=wiki
WIKI_DB_PASSWORD=CHANGE_ME_WIKI_DB
MARIADB_ROOT_PASSWORD=CHANGE_ME_MARIADB_ROOT
MARIADB_DATABASE=mediawiki
MARIADB_USER=wiki
MARIADB_PASSWORD=CHANGE_ME_WIKI_DB
WIKI_ADMIN_USER=WikiAdmin
WIKI_ADMIN_PASSWORD=CHANGE_ME_WIKI_ADMIN
WIKI_SITENAME=Корпоративная Вики
